@model APIRecipeProject.Models.Registration
<style>

    .field-validation-error {
        color: red;
    }
</style>
@{
    ViewBag.Title = "Register";
}

<p>
    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
    {
        @Html.ValidationMessageFor(x => x.Email)
        @Html.LabelFor(x => x.Email)
        @Html.EditorFor(x => x.Email)
        @Html.ValidationMessageFor(x => x.Password)
        @Html.LabelFor(x => x.Password)
        @Html.EditorFor(x => x.Password)
        <button type="submit">Log in</button>
    }
</p>
